* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: var(--max-width);
  padding: 2rem;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: var(--border-radius);
}
