.form-control {
  position: relative;
  margin: 1.5rem 0;
}

[form-input] {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid var(--color-text-light);
  border-radius: var(--border-radius);
  font-size: var(--font-size-text);
  color: var(--color-text);
  margin-bottom: 0.2rem;
}

[form-input]::placeholder {
  color: transparent;
}

[form-label] {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  transition: var(--transition);
  color: var(--color-text-light);
}

[form-input]:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

[form-span] {
  transition: var(--transition);
  color: var(--color-error);
  margin-left: 0.7rem;
}

.visible {
  display: block;
}

.focused {
  top: 0;
  left: 10px;
  transform: translateY(-125%);
  font-size: 0.8rem;
  color: var(--color-primary);
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}